@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500);
body {
	line-height: 1.5;
	font-family: Poppins, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden !important;
}
p {
	font-family: Poppins, sans-serif;
	color: #757575;
	font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
	color: #000;
}
.navbar-toggle .icon-bar {
	background: #000;
}
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
	border-radius: 0;
	box-shadow: none;
	height: 45px;
	outline: 0;
	font-weight: 200;
	font-size: 12px;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
	box-shadow: none;
	border: 1px solid #000;
}
.form-control {
	box-shadow: none;
	border-radius: 0;
}
.form-control:focus {
	box-shadow: none;
	border: 1px solid #000;
}
.section {
	padding: 80px 0;
}
.title {
	padding: 20px 0 30px;
}
.title h2 {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.page-name {
	color: #363538;
}
.page-header {
	background: #408697;
	margin-top: 20px;
	border-bottom: none;
	padding: 30px 0;
}
.page-header h1 {
	font-weight: 200;
	margin: 0 0 6px 0;
}
.breadcrumb > .active {
	color: white;
}
.page-header .breadcrumb {
	background: 0 0;
	padding: 5px;
	margin: 0;
}
.page-header .breadcrumb li {
	font-weight: 200;
	font-size: 12px;
}
.page-header .breadcrumb li a {
	color: #363538;
}
.dropdown-slide {
	position: static;
}
.dropdown-slide:hover .dropdown-menu {
	display: none;
	opacity: 1;
	display: block;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	visibility: visible;
	color: #777;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.dropdown-slide .dropdown-menu {
	border-radius: 0;
	opacity: 1;
	visibility: visible;
	position: absolute;
	padding: 15px;
	border: 1px solid #ebebeb;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	transition: 0.3s all;
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	transition: visibility 0.2s, opacity 0.2s,
		-webkit-transform 0.5s cubic-bezier(0.43, 0.26, 0.11, 0.99);
	transition: visibility 0.2s, opacity 0.2s,
		transform 0.5s cubic-bezier(0.43, 0.26, 0.11, 0.99);
	transition: visibility 0.2s, opacity 0.2s,
		transform 0.5s cubic-bezier(0.43, 0.26, 0.11, 0.99),
		-webkit-transform 0.5s cubic-bezier(0.43, 0.26, 0.11, 0.99);
}
@media (max-width: 480px) {
	.dropdown-slide .dropdown-menu {
		-webkit-transform: none;
		transform: none;
	}
}
.top-header .container {
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid #dedede;
}
.top-header .dropdown-menu {
	left: auto;
	right: 0;
	max-width: 300px;
}
@media (max-width: 480px) {
	.top-header .dropdown-menu {
		right: 0;
		left: 0;
		max-width: 100%;
	}
}
.top-header .slogan {
	font-size: 12px;
	color: #333;
}
@media (max-width: 480px) {
	.top-header .slogan {
		text-align: center;
	}
}
@media (max-width: 768px) {
	.top-header .slogan {
		text-align: center;
		padding: 10px 0;
	}
}
.top-header .slogan i {
	margin-right: 4px;
	font-size: 18px;
	vertical-align: middle;
}
@media (max-width: 768px) {
	.top-header .top-menu {
		text-align: center;
		padding: 10px 0;
	}
}
.top-header .top-menu > li > a {
	color: #333;
	font-size: 15px;
	padding: 0 8px;
}
.top-header .top-menu > li > a:focus,
.top-header .top-menu > li > a:hover {
	background: 0 0;
}
.top-header .top-menu > li > a i {
	font-size: 16px;
	margin-right: 2px;
	vertical-align: middle;
}
@media (max-width: 480px) {
	.top-header .logo {
		padding: 10px;
	}
}
@media (max-width: 768px) {
	.top-header .logo {
		padding: 10px;
	}
}
.top-header .logo a {
	display: inline-block;
}
.navigation {
	margin-bottom: 0;
	padding: 10px 0;
}
.navigation .menu-title {
	display: none;
	font-size: 16px;
}
@media (max-width: 480px) {
	.navigation .menu-title {
		display: inline-block;
		padding-left: 10px;
	}
}
@media (max-width: 768px) {
	.navigation .menu-title {
		display: inline-block;
		padding-left: 10px;
	}
}
.navigation .navbar-nav > li {
	position: static;
}
.navigation .navbar-nav > li.active a {
	color: #000;
}
.navigation .navbar-nav > li > a {
	color: #333;
	font-size: 14px;
	padding: 20px 15px;
	text-transform: uppercase;
	transition: 0.2s ease-in-out 0s;
	border: 1px solid transparent;
}
.navigation .navbar-nav > li > a:active,
.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
	background: 0 0;
	color: #000;
}
.navigation .container {
	position: relative;
}
.navigation .navbar-nav {
	float: none;
	display: inline-block;
}
.navigation .dropdown-slide .dropdown-menu {
	right: auto;
	left: auto;
	border: none;
}
.navigation .dropdown-slide .dropdown-menu li a {
	color: #222;
	font-size: 12px;
	border: 1px solid transparent;
	display: block;
	padding: 8px 16px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: 0.3s all;
}
.navigation .dropdown-slide .dropdown-menu li a:hover {
	background-color: #000;
	color: #fff;
}
#LOGO {
	display: flex;
	justify-content: center;
}

/*=================================================================
  Background image
  ==================================================================*/

.hero-image {
	background-image: url("../images/couple-skiing-whistler_h.jpg.webp");
	height: calc(100vh - 114px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*=================================================================
  Pricing 
  ==================================================================*/

.pricing-table .pricing-item {
	padding: 40px 55px 65px;
	background: #fff;
	margin-bottom: 20px;
}

.pricing-table .pricing-item a.btn-main,
.pricing-table .pricing-item a.btn-solid-border,
.pricing-table .pricing-item a.btn-transparent,
.pricing-table .pricing-item a.btn-small {
	text-transform: uppercase;
	margin-top: 20px;
}

.pricing-table .pricing-item li {
	font-weight: 400;
	padding: 10px 0;
	color: #666;
}

.pricing-table .pricing-item li i {
	margin-right: 6px;
}

.pricing-table .price-title {
	padding: 30px 0 20px;
}

.pricing-table .price-title > h3 {
	font-weight: 700;
	margin: 0 0 5px;
	font-size: 15px;
	text-transform: uppercase;
}

.pricing-table .price-title > p {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-top: 5px;
}

.pricing-table .price-title .value {
	color: #000;
	font-size: 50px;
	padding: 10px 0;
}

/*=================================================================
  Buttons
  ==================================================================*/

.btn-main,
.btn-solid-border,
.btn-transparent,
.btn-small {
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 14px 35px;
	text-transform: uppercase;
	font-weight: 200;
	border-radius: 0;
}

.btn-main.btn-icon i,
.btn-icon.btn-solid-border i,
.btn-icon.btn-transparent i,
.btn-icon.btn-small i {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 5px;
}

.btn-main:hover,
.btn-solid-border:hover,
.btn-transparent:hover,
.btn-small:hover {
	background: black;
	color: #fff;
}

.btn-solid-border {
	border: 1px solid #000;
	background: #fff;
	color: #000;
}

.btn-transparent {
	background: transparent;
	padding: 0;
	color: #000;
}

.btn-transparent:hover {
	background: transparent;
	color: #000;
}

.btn-large {
	padding: 20px 45px;
}

.btn-large.btn-icon i {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 5px;
}

.btn-small {
	padding: 8px 25px;
	font-size: 10px;
}

.btn-round {
	border-radius: 4px;
}

.btn-round-full {
	border-radius: 50px;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
	outline: 0;
}

.btn:focus {
	color: #ddd;
}

/*=================================================================
  Category Box
  ==================================================================*/

.category-box {
	background-size: cover;
	margin-bottom: 30px;
	min-height: 300px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
@media (max-width: 400px) {
	.category-box {
		min-height: 200px;
	}
}
@media (max-width: 480px) {
	.category-box {
		min-height: 250px;
		margin-bottom: auto;
	}
}
.category-box.category-box-2 {
	min-height: 730px;
}
@media (max-width: 768px) {
	.category-box.category-box-2 {
		min-height: 400px;
	}
}
.category-box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.category-box img {
	transition: all 0.3s ease-in-out;
	width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.category-box a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.category-box .content {
	position: absolute;
	z-index: 999;
	top: 0;
	padding: 25px;
}
@media (max-width: 768px) {
	.category-box .content {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
.category-box .content h3 {
	margin: 0;
	color: #408697;
	background-color: #f6f6f6;
	padding: 0.6rem 0.6rem;
	font-size: 20px;
	font-weight: 500;
}
@media (max-width: 768px) {
	.category-box .content h3 {
		font-size: 20px;
	}
}

/*=================================================================
  Blog
  ==================================================================*/

.post.post-single {
	border: none;
}

.post-sub-heading {
	border-bottom: 1px solid #dedede;
	padding-bottom: 20px;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 20px;
}

.post-excerpt {
	padding: 0 20px;
	margin-bottom: 60px;
}

.post-excerpt h3 a {
	color: #000;
}

.post-excerpt blockquote {
	line-height: 22px;
	margin: 20px 0;
	font-size: 16px;
	border-left: 5px solid black;
}

.post-excerpt p {
	font-size: 16px;
	color: black;
	margin: 0 0 30px;
	line-height: 30px;
}
.single-blog {
	background-color: #f6f6f6;
	margin-bottom: 50px;
	padding: 20px;
}
.contact-us {
	padding: 100px 0;
}
.contact-form {
	margin-bottom: 40px;
}
.contact-form .form-control {
	background-color: transparent;
	border: 1px solid #dedede;
	box-shadow: none;
	height: 45px !important;
	color: #0c0c0c;
	height: 38px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	border-radius: 0;
}
.contact-form #contact-submit:hover,
.contact-form input:hover,
.contact-form textarea:hover {
	border-color: #000;
}
.contact-form #contact-submit {
	border: none;
	padding: 15px 0;
	width: 100%;
	margin: 0;
	background: #000;
	color: #fff;
	border-radius: 0;
}
.contact-form textarea.form-control {
	padding: 10px;
	height: 120px !important;
	outline: 0;
}
.contact-details #map {
	width: 100%;
	height: 300px;
}
.error {
	display: none;
	padding: 10px;
	color: #d8000c;
	border-radius: 4px;
	font-size: 13px;
	background-color: #ffbaba;
}
.success {
	background-color: #6cb670;
	border-radius: 4px;
	color: #fff;
	display: none;
	font-size: 13px;
	padding: 10px;
}
.footer {
	background: #408697;
	padding: 50px 0;
}
.footer .footer-menu {
	margin-top: 30px;
}
.footer .footer-menu li {
	display: inline-block;
	margin: 0 10px;
}
.footer .footer-menu li a {
	color: #363538;
	font-size: 12px;
}
.footer .copyright-text {
	margin-top: 20px;
	color: #363538;
}
.social-media li {
	display: inline-block;
	margin: 0 5px;
}
.social-media li a {
	padding: 8px 10px;
}
.social-media li a i {
	font-size: 20px;
	color: #363538;
}
